[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Run-O-Matic
Comment=Checks runomatic autostart
Exec=/usr/share/runomatic/runoservice
Terminal=false
Type=Application
Categories=
GenericName=
