[Unit]
Description=Control startup of runomatic
After=n4d.service
Requires=n4d.service

[Service]
Type=onsehot
ExecStart=/usr/share/runomatic/runoservice.py
Restart=always
RestartSec=2
RestartPreventExitStatus=0
StartLimitInterval=200
StartLimitBurst=9

[Install]
WantedBy=multi-user.target
Alias=runomatic.service
