[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Run-o-Config
Comment=Configure Run-O-Matic
Exec=/usr/bin/runoconfig
Icon=runoconfig
Type=Application
GenericName=run-o-config
Categories=System;Utilities;Lliurex-Administration
